.image{
/*    height:320px;
    width:320px;
    float: left;
    margin: 5px;
    position: relative;
    border: 5px solid #fff;*/
}
.imageinfo{ display: none;
-webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    position: relative;
    background-color: #fff;
    margin-top:-50px;
    height: 50px;
    width: 100%;
    display: block;
    top: 0px;
    line-height: 36pt;
    text-align: center;   
    color: #999;
    font-size: 150%;
    opacity: 0; /* css standard */
    filter: alpha(opacity=0); /* internet explorer */    }
.image:hover .imageinfo{
    opacity: 1; /* css standard */
    filter: alpha(opacity=100)
; /* internet explorer */}
.navbar ul{
    display:inline-block;
    list-style:none;
}
.navbar li{
    display:inline-block;
}
.navbar a{
    font-size: 200%;
    color:#999;
}

.navbar .active-page{
    color:#000;
}
